streamlit
streamlit_book==0.7.0
pandas
numpy
matplotlib
plotly
altair
pandas
numpy
streamlit
pycountry
Path
pyngrok
nx_altair
googletrans==3.1.0a0
missingno
streamlit-aggrid
googletrans
WordCloud
